/* .ca, */
.con,
.getS {
	position: relative;
}
.get,
.log {
	font-style: normal;
	line-height: 21px;
	text-decoration: none;
}
.contact-page .pages-header,
.getS,
section.next-prog,
section.team.section-padding,
.section-padding,
section.testimonials {
	overflow: hidden;
}
.getS,
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
	cursor: pointer;
}
.blog-crv .item {
	display: flex;
	align-items: center;
	height: 100%;
}
.conno,
.ulFlex {
	align-items: center;
}
.block-sec .testim-box .slick-dots li button {
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
}
.slider .social-icon a {
	margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
	text-transform: capitalize;
}

.linkPrivacy,
.underline {
	text-decoration: underline;
}
.block-sec .vid-area {
	z-index: 99;
}
.div-tooltip-sub,
.div-tooltip-tit {
	display: block;
	padding: 0;
}
.hideX #preloader,
.hideX .pace,
.slick-next,
.slick-prev {
	display: none !important;
}
.CircularProgressbar {
	width: 110px;
	height: 110px;
}
.conno,
.topnav .menu-icon,
.ulFlex {
	display: flex;
}
body .slick-dots li button {
	display: block !important;
	opacity: 0 !important;
	width: 0 !important;
	height: 0 !important;
}
.no {
	margin-left: 15px;
}
.conno {
	justify-content: center;
	flex-direction: row;
	margin: -55px 0;
}
.team .navs span.next.cursor-pointer {
	margin: 0 7px;
}
.projdtal .justified-gallery a {
	width: 100%;
	margin-bottom: 15px;
}
.projdtal .justified-gallery img {
	min-height: 440px;
	height: 440px;
	object-fit: cover;
	width: 100%;
}
.projdtal .justified-gallery .big-img {
	min-height: 700px;
	height: 700px;
}
.ulFlex {
	justify-content: center;
}
.line:first-child {
	letter-spacing: 3px;
}
.ca {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.ite{
background: #f7f7f7;
	border-radius: 15px;
	margin-top: -80px;
	right: -105px;
	padding: 1.2rem 0px;
	-webkit-box-shadow: 0 10px 20px -5px rgb(52 60 70 / 10%);
	box-shadow: 0 10px 20px -5pxrgba (52, 60, 70, 0.1);
	/* height: 8vh; */
	width: 60%;
}
.abo {
	font-size: 27px;
	width: 450px;
}
.h11 {
	font-size: 15px;
}
.h6Blog {
	font-weight: 600;
}
.pBlog {
	height: 2rem;
}
.h2Call {
	font-size: 40px;
	margin: -1px auto;
}
.black,
.liFooter {
	font-size: 20px;
}
.filed {
	margin: 0 9px;
	max-width: 13px;
}
.h5Con {
	margin: -2rem auto;
}
.ulFooter {
	list-style: none;
}
.divPrivacy {
	margin: 50px auto;
}
.privacy-p {
	margin: 10px;
}
.black {
	margin: 0 5px;
	font-weight: 800;
}
.linkPrivacy {
	margin: 0 10px;
}
.underline {
	margin: 0 5px;
}
.ulDisc{
	list-style-type: disc;
}
.ol {
	margin: 30px 0;
	list-style-type: decimal-leading-zero;
}
.liA {
	list-style-type: lower-alpha;
}
.liNum {
	list-style-type: square;
}
.liRoman {
	list-style-type: upper-roman;
}
.m {
	margin: 0 15px;
}
.ma {
	margin: 0 30px;
}
.desc {
	width: 60%;
	text-align: left;
}
.lilink {
	padding: 5px 9px;
	margin: 13px 2px;
	font-size: 19px;
}
.aPrivacy {
	margin: 0 6px;
}
.overlay {
	height: 20vh;
}
@media screen and (max-width: 991px) {
	.conno {
		display: none;
	}
	.navbar .navbar-collapse.show-with-trans {
		opacity: 0.9;
		padding: 10px 15px;
		height: 70vh;
		width: 100%;
		transition: 0.3s linear;
	}
}
.hideX #preloader {
	z-index: -1111111;
	height: 0;
	width: 0;
	overflow: hidden;
}
#ieatmaps iframe {
	width: 100%;
	height: 100%;
}
.getS {
	background: 0 0;
	padding: 7px 35px;
	border: 1px solid #1e1e1e;
}
@media screen and (max-width: 500px) {
	.abo,
	.desc {
		width: 100%;
	}
	.desc {
		text-align: left;
	}
	.abo {
		font-size: 22px;
	}
	.ca {
		/* display: -webkit-box; */
	/* display: -ms-flexbox; */
	/* display: flex; */
	/* background: #f7f7f7; */
	/* border-radius: 15px; */
	/* margin-top: -80px; */
	/* right: -105px; */
	/* padding: 0rem 0px; */
	/* -webkit-box-shadow: 0 10px 20px -5px rgb(52 60 70 / 10%); */
	/* box-shadow: 0 10px 20px -5pxrgba (52, 60, 70, 0.1); */
	/* height: 8vh; */
	/* width: 60%; */
	/* align-items: center; */
	/* justify-content: center; */
	text-align: left;
	width: 80%;
	}

}
@media screen and (min-width: 991px) {
	#mobile {
		display: none;
	}
}
@media screen and (max-width: 978px) {
	#desktop {
		display: none;
	}
}
